<div>
  <mat-toolbar color="primary">
    <span><mat-icon>domain</mat-icon></span>

    <span>Taler en Clases SPA- {{title}}</span>
    <button mat-raised-button color="warn" [routerLink]="['/']"> Inicio</button>
    <button mat-raised-button [routerLink]="['/listado']" >Listado </button>
    <button mat-raised-button color="primary" [routerLink]="['/favoritos']"> Favoritos </button>
    <button mat-raised-button color="accent">Editar </button>

  </mat-toolbar>

  <mat-card>
    <h1> Cuerpo</h1>
    <router-outlet></router-outlet>
  </mat-card>

</div>

lo
